[Desktop Entry]
StartupWMClass=com.vysp3r.ProtonPlus
Name[ar]=بروتون بلس
Name[cs]=ProtonPlus
Name[de]=ProtonPlus
Name[es]=ProtonPlus
Name[fr]=ProtonPlus
Name[id]=ProtonPlus
Name[it]=ProtonPlus
Name[ja]=ProtonPlus
Name[pl]=ProtonPlus
Name[pt]=ProtonPlus
Name[ru]=ProtonPlus
Name[sv]=ProtonPlus
Name[zh_CN]=ProtonPlus
Name=ProtonPlus
Exec=protonplus
Icon=com.vysp3r.ProtonPlus
Comment[ar]=مدير لأدوات التوافق بطابع حديث
Comment[cs]=Moderní správce nástrojů kompatibility
Comment[de]=Ein moderner Verwalter für Kompatibilitätstools
Comment[es]=Un administrador moderno de herramientas de compatibilidad
Comment[fi]=Nykyaikainen hallintakeskus yhteensopivuustyökaluille.
Comment[fr]=Un gestionnaire moderne d’outils de compatibilité pour Linux.
Comment[id]=Pengelola alat kompatibilitas modern
Comment[it]=Un moderno gestore di strumenti di compatibilità
Comment[ja]=モダンな互換性ツールマネージャー
Comment[ka]=თანამედროვე თავსებადობის ხელსაწყოების მმართველი
Comment[nl]=Een moderne compatibiliteitstoolbeheerder
Comment[pl]=Nowoczesny menedżer narzędzi zgodności
Comment[pt]=Um gerenciador de ferramentas de compatibilidade moderno
Comment[ru]=Современный менеджер инструментов совместимости
Comment[sk]=Moderný správca nástrojov kompatibility
Comment[sv]=Ett modernt kompatibilitetsverktygshanterare för Linux.
Comment[uk]=Сучасний менеджер сумісності
Comment[zh_CN]=一个现代的兼容性工具管理器
Comment[zh_TW]=現代的相容性工具管理程式。
Comment=A modern compatibility tools manager
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
X-AppImage-Name=ProtonPlus
X-AppImage-Version=0.6.8
X-AppImage-Arch=x86_64
